In [33]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error

from warnings import filterwarnings
filterwarnings('ignore')

KNN (K-Nearest Neighbors) is a supervised machine learning algorithm that is used for classification and regression tasks. It works by identifying the K nearest data points to a given data point and using the class or value of those points to predict the class or value of the given data point.

To use KNN, the data must first be split into a training set and a testing set. The algorithm is then trained on the training set by calculating the distance between each data point and its K nearest neighbors. Once the algorithm is trained, it can be used to predict the class or value of a data point in the testing set by finding the K nearest neighbors and using their class or value to make a prediction.

KNN is a simple and effective algorithm that works well on small and medium-sized datasets. It is easy to implement and does not require any complicated mathematical calculations, making it a good choice for beginners. However, it can be computationally expensive and may not perform as well on larger datasets or with high-dimensional data.

In [5]:
data = pd.read_csv("../Data/Hitters.csv")
df = data.copy()
df = df.dropna()
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A

In [6]:
dms = pd.get_dummies(df[['League', 'Division', 'NewLeague']])
dms.head()

   League_A  League_N  Division_E  Division_W  NewLeague_A  NewLeague_N
1         0         1           0           1            0            1
2         1         0           0           1            1            0
3         0         1           1           0            0            1
4         0         1           1           0            0            1
5         1         0           0           1            1            0

In [7]:
X_ = df.drop(["Salary","League","Division","NewLeague"],axis = 1).astype("float64")

In [8]:
y = df["Salary"]

In [9]:
X_.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors
1,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0
2,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0
3,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0
4,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0
5,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0

In [10]:
X = pd.concat([X_,dms[['League_N','Division_W','NewLeague_N']]],axis=1)
X.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,League_N,Division_W,NewLeague_N
1,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0,1,1,1
2,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0,0,1,0
3,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0,1,0,1
4,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0,1,0,1
5,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0,0,1,0

In [11]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [12]:
knn_model = KNeighborsRegressor().fit(X_train, y_train)

In [13]:
knn_model.n_neighbors

5

In [14]:
knn_model.effective_metric_

'euclidean'

In [15]:
y_pred = knn_model.predict(X_test)

In [16]:
np.sqrt(mean_squared_error(y_test, y_pred))

426.6570764525201

In [18]:
RMSE = []

for k in range(10):
    k = k+1
    knn_model = KNeighborsRegressor(n_neighbors = k).fit(X_train, y_train)
    y_pred = knn_model.predict(X_train)
    rmse = np.sqrt(mean_squared_error(y_train,y_pred))
    RMSE.append(rmse)
    print("k =" , k , "for RMSE value: ", rmse)

k = 1 for RMSE value:  0.0
k = 2 for RMSE value:  179.52761335480352
k = 3 for RMSE value:  205.20157172291863
k = 4 for RMSE value:  220.5139794876305
k = 5 for RMSE value:  239.6467132541376
k = 6 for RMSE value:  243.5904190007242
k = 7 for RMSE value:  258.1478781634636
k = 8 for RMSE value:  266.05374203349805
k = 9 for RMSE value:  269.73782093553376
k = 10 for RMSE value:  271.2798300436963

In [19]:
from sklearn.model_selection import GridSearchCV

In [20]:
knn_params = {'n_neighbors':np.arange(1,30,1)}

In [21]:
knn = KNeighborsRegressor()

In [22]:
knn_cv_model = GridSearchCV(knn,knn_params,cv=10)

In [23]:
knn_cv_model.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=KNeighborsRegressor(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])})

In [24]:
knn_cv_model.best_params_

{'n_neighbors': 8}

In [25]:
knn_tuned = KNeighborsRegressor(n_neighbors = knn_cv_model.best_params_["n_neighbors"])

In [26]:
knn_tuned.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=8)

In [27]:
np.sqrt(mean_squared_error(y_test, knn_tuned.predict(X_test)))

413.7094731463598