In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import BaggingRegressor

from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
data = pd.read_csv("../Data/Hitters.csv")
df = data.copy()
df = df.dropna()
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A

Bagged tree regression is a type of ensemble learning method that combines the predictions of multiple decision tree models to make more accurate predictions. In this method, a decision tree model is trained on a randomly selected subset of the training data, and the process is repeated multiple times to create multiple decision tree models. The predictions of these models are then averaged to produce the final prediction.

Bagged tree regression is particularly useful in cases where the training data has high variance, meaning that small changes in the data can result in large changes in the model's predictions. By training multiple decision tree models on different subsets of the data and averaging their predictions, bagged tree regression can reduce the variance of the model and improve its accuracy.

In addition to reducing variance, bagged tree regression can also improve the model's ability to generalize to new data. By training multiple decision tree models on different subsets of the data, the model can better capture the underlying structure of the data and make more accurate predictions on new data points.

Overall, bagged tree regression is a powerful tool for improving the accuracy and generalizability of decision tree models in cases where the training data has high variance or when the model needs to be able to generalize well to new data.

In [10]:
dms = pd.get_dummies(df[['League', 'Division', 'NewLeague']])
dms.head()

   League_A  League_N  Division_E  Division_W  NewLeague_A  NewLeague_N
1         0         1           0           1            0            1
2         1         0           0           1            1            0
3         0         1           1           0            0            1
4         0         1           1           0            0            1
5         1         0           0           1            1            0

In [4]:
X_ = df.drop(["Salary","League","Division","NewLeague"],axis = 1).astype("float64")

In [5]:
y = df["Salary"]

In [6]:
X_.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors
1,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0
2,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0
3,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0
4,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0
5,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0

In [7]:
X = pd.concat([X_,dms[['League_N','Division_W','NewLeague_N']]],axis=1)
X.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,PutOuts,Assists,Errors,League_N,Division_W,NewLeague_N
1,315.0,81.0,7.0,24.0,38.0,39.0,14.0,3449.0,835.0,69.0,321.0,414.0,375.0,632.0,43.0,10.0,1,1,1
2,479.0,130.0,18.0,66.0,72.0,76.0,3.0,1624.0,457.0,63.0,224.0,266.0,263.0,880.0,82.0,14.0,0,1,0
3,496.0,141.0,20.0,65.0,78.0,37.0,11.0,5628.0,1575.0,225.0,828.0,838.0,354.0,200.0,11.0,3.0,1,0,1
4,321.0,87.0,10.0,39.0,42.0,30.0,2.0,396.0,101.0,12.0,48.0,46.0,33.0,805.0,40.0,4.0,1,0,1
5,594.0,169.0,4.0,74.0,51.0,35.0,11.0,4408.0,1133.0,19.0,501.0,336.0,194.0,282.0,421.0,25.0,0,1,0

In [9]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [11]:
bag_model = BaggingRegressor(bootstrap_features = True)
bag_model.fit(X_train, y_train)

BaggingRegressor(bootstrap_features=True)

In [12]:
bag_model.n_estimators

10

In [13]:
bag_model.estimators_

[DecisionTreeRegressor(random_state=747204345),
 DecisionTreeRegressor(random_state=579199047),
 DecisionTreeRegressor(random_state=654420098),
 DecisionTreeRegressor(random_state=1085027728),
 DecisionTreeRegressor(random_state=1661067084),
 DecisionTreeRegressor(random_state=881750537),
 DecisionTreeRegressor(random_state=724557789),
 DecisionTreeRegressor(random_state=1337507396),
 DecisionTreeRegressor(random_state=795042298),
 DecisionTreeRegressor(random_state=84133211)]

In [14]:
bag_model.estimators_samples_

[array([176, 105, 113,  14, 185, 140,  84, 102,  42,  79, 119, 112, 189,
        116,  74,  15,  29,   6, 123,  68,  72,  65, 162,  56, 148, 154,
        178,  57,  56,  23,  23, 106,  89,  54,  94, 136,  18, 116,  60,
         23,  35, 126, 146,  82, 184,  88, 127, 191, 174,  23, 177,  57,
        169, 176,  99, 119,  25, 158,  28, 108,  94, 187,  53,  81, 155,
         65, 149,  13, 123, 127, 168,  48, 192, 100,  64, 169, 118,  71,
        152, 111,  16, 154, 191, 163,  93, 120,  67,  71,  28,  31,  64,
        145,  87,  47,  28,  42, 134, 133,  22,  79, 115,  79,   3, 120,
         39,  78, 187,  29,  86, 117, 139, 179,   4,  19, 119,  42,  82,
        135,  12,  74,  30,  55, 156,   3, 163,  60, 178,  45,  48, 140,
         37, 172, 103, 113, 193, 118,  75, 132, 190,  32, 196,  86, 185,
         71,  67, 104,   3,  84, 106, 161, 163,  79, 118,  27, 186, 189,
        156,   4,  72, 185, 181,  69, 180, 136,   6, 179,  57,   1,  52,
         39, 133,  19,  21,  88, 175,  12,  12,  54,   1, 183,  68,  98,
         27,   0,  13,  96, 118, 136,  45, 127,  81,  31, 123,  28,   2,
        148,   0]),
 array([ 56, 176,  58,  72,  78,  65, 154, 179,  36,  62,  35,  80, 105,
         96,  32,   5, 115, 136, 132,   9,  53,  84, 167, 124,   0,   4,
         70,  20,  83, 118, 135,  39,  36, 115,  23, 136,  86,  48,  38,
         80,  47,  28,  63,  13,  47, 120,  74,  40, 189,  57,   0, 116,
         47,   3,  53,  90, 117,  99,  58,  19,  11, 156,   9, 145, 191,
        150, 190,  29,  49, 194,  72, 165,  12, 180, 148, 169,  58,  51,
        128,   8,  92, 156,  99, 177,  91, 112,  52,   8, 120,  68, 130,
         18,  76, 101,  89, 160,  56, 174,  51,  61,  11, 157, 114,  95,
         87, 107,  76,  35,  94,  38, 135, 178, 132, 163,   8, 154,  91,
        153, 186, 193, 134,  84,  94,   5, 186,   3,   8,  49, 124,  95,
         92, 168,  57, 128, 107,  83, 192, 183,  49,  78,  56,  77, 182,
         80,  75,  78,  39, 126,  19, 152,   8,  30,  60,  77,  39,  42,
        111,   8, 146,  12, 131, 179, 104,  21,  78,  93,  73,  88, 103,
        114, 128,  36,  89,  55, 187, 107, 170,  58,  49,  85, 189,  26,
         26,   6,  37, 130,  31, 162,  41,   5, 161, 193, 152, 134,  46,
        102, 114]),
 array([ 74,  28, 185,   1, 147,  43, 144,  12, 178, 155,  22,  26,   9,
        122,  79, 179, 151,  10, 108, 131,  15,  33, 187, 187,  18, 191,
         69, 135, 120,  40, 131,  59, 177,  56,  49,  88, 153,  92, 180,
         84, 109, 175,  10, 192, 126,  45, 154,  33,  77, 144, 139,  51,
        177, 109,  31,  64, 110,  77, 176,  98, 157, 103, 179, 135, 177,
         44,  76, 144, 157, 118,  44,  83, 145, 174, 131,  81, 136, 145,
        110,  44,  64, 139, 107,   8,   7, 159, 166, 151, 107, 125,  62,
         54,  88, 185,  28, 149,  36,  83,  89, 105,  41, 164, 106, 178,
        102, 162,   9, 110,  62, 138, 160,  44,  69,  35,  65,   7,  16,
         39,  23,  14, 144,  73,  27, 165,   5,  50,  61, 187, 104,  37,
        183, 132, 118, 173, 113,  92,  38,  85, 150, 179, 182, 135,  95,
         41, 175,  29,  57,  40, 162,  77, 193,  48,  90,  92,  55,  90,
         63,  59, 175,  13,  80,  65, 148, 138,  69, 113, 140, 110,  24,
         64,   3,  55, 191,  93,  83, 114,  42, 172,  28, 119, 132, 153,
        154, 181,  90,  80,  83, 185,  76, 132, 188,   7,   6,  44,  78,
        190, 179]),
 array([101,  55, 113,  96, 147,  93,  82,  59,  30,  12, 134,  38, 162,
        110,  31,  87, 123,  72, 196, 182, 115,  71, 119,  70, 158,  26,
        105,   7,  56, 108,  41, 193,  87, 140, 152,  29, 150, 194,  12,
         21, 160,  85, 156, 191, 157, 110, 140,  32,  67, 158, 178, 118,
        176,  93, 125,  94,   2, 158, 193,  63, 175,  71, 149, 183, 119,
        107,   4,  62, 163, 105,   2, 119,  59, 111, 196,  33, 178, 193,
        127, 169, 196,  84, 109, 157, 102, 172,  77, 135, 114, 116, 119,
        133,  50, 106, 130,  67,  63,  18, 151,  29, 163, 137, 141,  19,
         43, 142, 117,  80, 190, 102, 149, 135, 171,   0, 181,  31, 108,
        178,  83,  52,  49,  14,  35, 153, 184,  26, 183,   6,  18, 103,
         43,  70, 176,  35,  39,  68, 152,  46,   3, 179, 132, 125, 187,
        113,  48, 193, 101,  23,  33,  56,  61,  14, 166, 128, 142,  96,
         49,  38,  85, 140,  12, 125,  86, 165,  29, 149,  21,  14,  23,
        159, 196, 149,  49, 166, 170,  90, 161, 117, 160,  20,  22,  10,
         11, 164, 158,  13,  45,  26, 151,  91, 136, 184,  29,  60,  60,
        113, 159]),
 array([ 31, 122,  75,   6, 139,  16,  10,  84,  35,  91,  55,  73, 152,
        178, 195,  55,  25,  63,  86,  96,   1,  82, 147,  15,   4, 188,
        188, 122,  87,   5,  40, 154, 165,  46,   1, 122,  54, 178, 146,
         53, 183, 110,  86, 145,  22, 170, 111, 158, 105, 123,  55,  83,
        129, 134,   1, 158,   2, 126,  92, 129, 182, 188, 124, 106, 182,
        186, 135, 136,  82, 182,   7,   6,  97, 174,  89, 163, 120,  18,
         14,  45,  15,  60,  40,  39, 172,  93, 106,  79, 109, 125,  60,
         67,  62,   1,  29,   9, 146, 104,  71, 117, 153,   8, 183, 137,
         76,  76,  33,  98,  67,  35, 135, 191,  90, 102,  99,  79,   4,
         11,  55, 135,  17,  61, 174,  28, 131,   6,  71, 108, 172, 169,
        191, 103, 135, 184,   7,  74, 120, 139,  59,  33, 162, 102, 195,
        194, 111,  82, 173,  34, 140,   9,  78, 122,  96, 123,  42, 129,
         59, 142,  25,  84, 162,   5,  63,  91, 137, 154,  92,   0, 118,
         78, 156, 106,  97, 132, 130, 162,  74, 158,   5,  93, 132, 117,
         55,  81,  43,  20, 114, 196,  97, 151, 137, 157,  68,  62, 121,
         30,  47]),
 array([ 76, 100, 115,  54, 147,  90, 105,   4, 145, 189,  36,  70, 108,
         55, 189, 150,  34,  42,  58, 163, 169,  60,  20, 149,  21, 138,
        103,  34,  95, 139, 172, 152, 147,  96,  78, 127, 191, 104,  68,
         53, 148, 122, 139, 142, 183,  54,  33,  62,  47,  52, 151, 187,
        122, 117,  76, 163,  50,  52, 160,  11, 183,  57, 160, 169, 147,
         24,  42, 128,   7,  14, 122,  91, 125, 128, 152,  17, 123,  67,
        100,  83, 124, 150, 174, 108, 159,  99, 155, 184, 180,  71,  81,
         32, 181, 177,   7,  57, 195,  12,  49,  53, 170,  43,  25, 152,
         81, 162,  96, 164, 161,  20, 123,  11, 169,  89, 186,  53,  82,
          2, 172,   3, 143,  70,  64,   6, 163,   1, 184,  26,  58, 164,
         71, 136, 105,  48,  79,  88,  94,  19,  75,  40, 183,  16, 104,
         93, 149,  59,  63, 152,  67,  25,  27, 169, 122,  98, 143,  81,
        118,  49, 142, 167,  32, 172, 119, 116, 190, 179, 162,  36,  75,
         22, 119,  59,  44, 133, 183, 177,  93,  95,   6,  75, 122,  48,
         59,  18, 170, 146, 165, 188, 141, 155,  69,  13, 120, 190, 144,
        167, 144]),
 array([ 83,  92, 151,  16,  79,   6, 178,  33,  11, 158,   4, 161,  78,
         51, 125, 108,  17,  82,  57, 175, 173,  18, 107,  88, 164, 165,
        119, 122,  17,  87,  28,  17,  94,  95, 121,   6, 161,  65,  52,
        175, 169, 146,  66,  79, 165,  15,  36, 141, 182,  88,  30,  76,
        194, 126,  82, 106,  47,  71, 185, 186,  47,  37,  30, 154, 121,
         72, 171, 150,  44,  59,  40, 168,  21, 134,  19,  68,  37,  48,
        121, 168, 196,   2,   3, 169,  69,  60, 192, 193,  95,  37, 155,
        141,  53,  25,  25, 148, 136, 145,  36, 166, 119,  31, 188, 173,
         14, 156,  96, 172, 148, 142, 116,  62,   4,  83,   9, 153, 104,
         42,  56, 169, 187,  70,  80, 142, 178,  19, 118, 113,  56,  28,
         74,  59,  65,  31, 123,  17, 141,  13, 148, 184, 133, 182,  52,
         35, 182,  70,  65,  27, 159, 109,  51,  30, 144,  95,  34, 181,
         84, 182, 120, 193, 121,  70,  65,  56,  82,  57,   6,  75, 178,
          8, 151, 155,  15,  18, 143, 110,  58, 177, 126,  90,  51,  63,
        111, 114,  17,   1, 182,  67,  72,  85, 132,  53,  27,  23, 169,
        114,  49]),
 array([ 60,  63, 131, 132,  81, 182, 104, 174,  97,  12, 172,   6,  56,
        174,  24, 191, 100,  85, 168, 183, 157, 169,  60, 162,  97, 123,
        173,  12, 100,  63, 196,  37, 186,  55, 110, 134,  90,  25,  57,
         31, 135, 171, 113, 168,  62, 142, 136, 174,   1, 157,  91, 139,
         75,   8,  72,  26, 116, 181,  24, 195, 186,  58,  84, 136,  30,
         94, 145,  81, 121,  19,  40,  32,  66, 112,  47,  12, 117, 101,
        119, 185, 143,   5, 123, 146, 186, 136, 150, 100, 163, 165,  71,
         97, 173,  41, 146, 158, 112,  95,  66, 155, 101,  16,  70, 173,
        133,  99,  73,  80,  76, 167,   8, 173, 178,  63,  73,  11,  29,
         72, 140,  12, 145, 119,  66,  53, 121, 161,  54,  16, 156,  45,
        108,  79,  39, 181,  62,  18, 107,   0, 176, 146,  36, 103, 104,
        172, 138,  45, 165,  19, 176, 104,  25, 175,  80, 137,  70, 117,
        186, 124, 168, 161, 125,  44, 141, 141,  66,  40,  81, 160, 146,
          8, 170, 177, 173,  67,  42, 175,  23, 188,  56,  16,  17,  13,
         81, 132, 146, 184,  90,  91, 187, 194,  40, 182,  99, 141, 125,
        144, 130]),
 array([116,   0,  89,  67,  18, 110, 163, 185, 114, 193,  55, 125, 100,
        189,  51, 149, 161,  87,  51,  16, 102, 126,  62,  40,  18, 161,
        117, 116,  75,  71,  53, 146,  35,  78, 182,  18, 179, 180, 168,
         90, 169,  42,  78, 145, 108,  30,  15, 123,  24,  16,  22,  56,
        110, 127, 116, 138, 168,  17, 119, 160, 139, 109,  47,   2,  77,
         44, 176,  25,  32,  62, 179, 139,  13, 158, 154, 183,  13, 127,
        154, 179,  91, 118, 125,  14, 101, 128,  85, 101,   1,  97, 127,
        106,  45, 103,  41,  90, 141,   6, 138, 160, 165,  17, 153,  38,
         56,  24,  26, 158,  25,  38, 138,  90,  64, 102, 173, 141,  29,
         46,  55, 173,  20, 186, 107,  13, 135, 136,  29, 176,  17,  88,
        129,  27, 104, 155,  60,  31,  73,  82, 158, 100, 193, 118, 109,
         36, 100,   8,  25,  22,  98,   0, 193, 171,  32, 160, 174,  98,
         36, 125, 129, 123, 124, 188,  48,  10,  45,  84,  36,  24,  71,
        160, 156, 182, 195,  53,  70, 142,  66, 133,  70,  52,  38,  12,
        132, 179,  55,  74, 118, 153,   8,  32, 102,  91,  40, 118, 135,
        174,  89]),
 array([151,  52, 195,  73,  80,  24, 149, 132, 183, 181, 130,  67, 170,
        137, 118, 138,  39, 120,  77, 171, 164,  23, 158, 102,  59, 154,
         87,  64,  17, 121,  26,  54,  49,   8,   9,  86,  42,  20,  29,
        142, 116,  87,  80, 154, 127, 169,  70, 127, 151, 168,  25,  86,
        127,  92,  38, 109, 100,  60, 134, 165, 141, 191,  97, 129,  18,
         57,  82, 121,  62, 133, 123, 195, 104,  70, 157, 143, 103, 166,
        168,  59, 137,  52,  12, 192,   2, 132,  69,   5, 179,  82, 180,
        127,  29, 171, 182,  80,  35, 106,  17,   9, 120, 109,  84,  80,
         59,  90,  32, 156, 107,  36,  86, 110, 123,  74, 139, 185, 176,
         34, 113,  65,   5, 108,  26, 195, 158, 117,  96, 148,  95, 181,
         93, 140,  86, 137,  87, 192, 117, 150,  32, 133,  98, 161,  45,
        160, 192,  30, 160,  44, 177, 177,  13,  97, 100,  65, 176,  13,
        151, 120, 122, 168, 162,  82,  53, 194, 141, 133, 185,  14, 195,
        140,  69,  99, 173, 148,  78,  81,  63,  67, 183, 171,  29,  29,
         40, 107, 111, 104,  15, 125, 193,  78,  88, 141, 148,   5, 102,
        196,  57])]

In [15]:
bag_model.estimators_features_

[array([ 7,  3,  2, 15, 14,  7,  1,  4,  2,  1,  8,  0, 11,  2, 14,  3, 12,
         9, 10]),
 array([ 7,  7,  7, 10, 18, 17,  3, 11,  3,  4, 16,  0,  5,  0,  2,  1,  5,
        16, 11]),
 array([ 2, 11, 18, 12,  0,  4,  4,  3, 17, 12, 14,  7, 15, 17, 12, 11, 15,
         8,  2]),
 array([16, 17, 18,  6, 10, 11, 10,  4,  2,  3,  5,  4, 18,  1, 16,  8,  5,
        16,  5]),
 array([12, 17,  9, 15, 18, 15, 11, 10,  5,  0,  5, 15,  6, 17,  1, 18,  3,
         8,  7]),
 array([ 9,  1,  2, 11, 12, 11, 13,  8, 14,  8, 14,  4,  1,  1,  7, 15, 15,
        13, 13]),
 array([ 8,  7, 14,  2,  4,  5,  0, 18,  6,  5,  4,  2,  2,  6, 15,  0,  6,
        17,  1]),
 array([ 4,  2,  1,  5, 16,  2,  4, 10,  8,  8, 10, 12, 15,  5, 11, 12,  7,
        11,  0]),
 array([10,  2,  8, 17,  4, 16, 15,  5, 17,  5,  8,  6,  2,  8, 17, 12, 15,
        11,  0]),
 array([ 6, 15, 15,  2, 17,  1,  2,  5, 12,  7, 13, 18, 18, 13,  4,  7,  1,
         6, 12])]

In [16]:
bag_model.estimators_[1]

DecisionTreeRegressor(random_state=579199047)

In [17]:
y_pred = bag_model.predict(X_test)

In [18]:
np.sqrt(mean_squared_error(y_test, y_pred))

329.3563753891228

In [19]:
bag_params = {"n_estimators": range(2,20)}

In [20]:
bag_cv_model = GridSearchCV(bag_model, bag_params, cv = 10)

In [25]:
bag_cv_model.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=BaggingRegressor(bootstrap_features=True),
             param_grid={'n_estimators': range(2, 20)})

In [26]:
bag_cv_model.best_params_

{'n_estimators': 19}

In [27]:
bag_tuned = BaggingRegressor( n_estimators = 14, random_state = 45)

In [28]:
bag_tuned.fit(X_train, y_train)

BaggingRegressor(n_estimators=14, random_state=45)

In [29]:
y_pred = bag_tuned.predict(X_test)

In [30]:
np.sqrt(mean_squared_error(y_test, y_pred))

346.457987188104