In [18]:
import pandas as pd
import numpy as np

from warnings import filterwarnings
filterwarnings('ignore')

Linear regression aims to determine how one variable (dependent variable) affects another variable (independent variable) in a data set. To determine this effect, a linear curve is created that measures the relationship between two variables.

The most important use of linear regression is to estimate the value of a variable or to understand how one variable is affected by another variable. For example, linear regression can be used to understand the relationship between a company's sales volume and its advertising budget.

When constructing a linear regression model, it is important to find the most suitable linear curve. This curve is found using the least squares method in the dataset. This method is used to find the linear curve that best fits the dataset, and the conditions of this curve minimize the deviations of the data in the dataset.

The linear regression method can be used on a large number of datasets. However, the accuracy of this method depends on the data in the dataset showing a linear relationship. If the data do not show a linear relationship, the linear regression method cannot be used and a different method should be preferred.

In [12]:
data = pd.read_csv("../Data/Advertising.csv")
df = data.copy()

In [14]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [15]:
del df['Unnamed: 0']

In [16]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [19]:
df.describe().T

           count      mean        std  min     25%     50%      75%    max
TV         200.0  147.0425  85.854236  0.7  74.375  149.75  218.825  296.4
radio      200.0   23.2640  14.846809  0.0   9.975   22.90   36.525   49.6
newspaper  200.0   30.5540  21.778621  0.3  12.750   25.75   45.100  114.0
sales      200.0   14.0225   5.217457  1.6  10.375   12.90   17.400   27.0

In [20]:
df.corr()

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.782224
radio      0.054809  1.000000   0.354104  0.576223
newspaper  0.056648  0.354104   1.000000  0.228299
sales      0.782224  0.576223   0.228299  1.000000

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
X = df[["TV"]]
y = df["sales"]
reg = LinearRegression()
model = reg.fit(X, y)

In [25]:
model.intercept_ #beta0

7.032593549127695

In [26]:
model.coef_

array([0.04753664])

In [27]:
model.score(X,y) # r2 score

0.611875050850071

In [29]:
model.predict(X)

array([17.97077451,  9.14797405,  7.85022376, 14.23439457, 15.62721814,
        7.44616232,  9.76595037, 12.74649773,  7.44140866, 16.53041431,
       10.17476548, 17.23871025,  8.16396559, 11.66741599, 16.73482186,
       16.32125309, 10.25557777, 20.40940417, 10.32212907, 14.03474068,
       17.41459582, 18.31779199,  7.6600772 , 17.88520856,  9.99412625,
       19.52997632, 13.82557947, 18.44614092, 18.85970969, 10.38868036,
       20.95607553, 12.39948025, 11.653155  , 19.65832525, 11.58185004,
       20.85149492, 19.72012288, 10.58358059,  9.08142275, 17.87094757,
       16.65876324, 15.44657891, 20.98935118, 16.86792445,  8.22576322,
       15.35625929, 11.2966302 , 18.43663359, 17.83291826, 10.21279479,
       16.53041431, 11.80527225, 17.31952254, 15.71278409, 19.52046899,
       16.48763133,  7.37961102, 13.50708398, 17.05331735, 17.04856369,
        9.57580381, 19.45391769, 18.4081116 , 11.91460652, 13.26464711,
       10.31262174,  8.52999772, 13.65444756, 18.31779199, 17.3385372 ,
       16.49713866, 12.25211667,  8.30657551, 13.18383482, 17.17691262,
        7.83596277,  8.33985116, 12.76075872,  7.28929141, 12.54684384,
       10.66439288, 18.43187992, 10.61210257, 10.28409975, 17.18166628,
       16.21667248, 10.65963921, 12.29489965, 11.2300789 , 12.25211667,
       13.41676436,  8.39214147, 17.38132017, 18.95953663, 12.13802873,
       14.79532693, 16.4258337 , 15.82211837, 20.80395828, 13.45954734,
       17.60474238, 21.12245377, 20.3523602 , 15.96472829, 18.3558213 ,
       13.58789626,  8.22100956, 11.32990584,  7.65532354, 19.17345152,
       17.76636696, 18.52219954, 15.38478127, 16.99627338, 10.74995883,
       10.60259525, 13.6496939 , 10.66439288, 13.00794925,  7.95480437,
       13.74952084,  7.92628239, 17.68080101, 12.88435399, 17.94225253,
       11.17778859,  7.40337934, 10.84503211, 17.50491544,  9.86577732,
        7.0658692 , 19.63931059,  7.43190133, 17.48114712,  8.78669558,
        9.32861328,  8.24953154, 20.04337204,  9.07666909, 15.82211837,
       10.52178296, 16.2404408 , 17.51442276, 12.00492614, 11.60561836,
       13.7019842 , 18.44614092, 18.5935045 ,  8.83898589,  9.15748138,
       20.37612852, 12.78452704, 16.4258337 , 15.17562006, 15.95997462,
        7.22749377, 11.49628409, 14.15358229,  7.58877224, 13.29316909,
       15.23266402, 11.10648363, 15.98849661, 14.80483426, 12.60388781,
       18.17993573,  7.88349941, 16.86317079, 17.2719859 , 20.54726042,
        9.40942557, 14.8523709 ,  7.9643117 , 15.0377638 , 17.60474238,
       20.19548929, 18.84069503, 15.12332975, 20.18598196, 14.9046612 ,
       14.47683144, 17.41934948,  9.70415274, 20.70413134, 19.09739289,
       16.77760484, 13.66395489, 16.11684554, 20.62807271,  7.92152873,
        8.91029085, 10.6216099 ,  7.85022376, 14.96170517, 14.14882862,
        8.84849321, 11.51054508, 15.44657891, 20.51398478, 18.06584779])