In [4]:
import pandas as pd
import numpy as np

from warnings import filterwarnings
filterwarnings('ignore')

Passive aggressive regressor is a type of machine learning algorithm that is used for regression tasks. It is a variation of the passive aggressive algorithm, which is a classification algorithm that uses an online learning approach to update its model as new data becomes available.

The passive aggressive regressor works by making small updates to the model based on the difference between the predicted and actual values for each sample. If the error is small, the model is left unchanged. If the error is large, the model is updated to better fit the data.

One advantage of the passive aggressive regressor is that it is able to adapt to changing data over time, as it continuously updates its model as new samples become available. It is also relatively simple to implement and can be used with a variety of different loss functions.

However, the passive aggressive regressor may not perform as well as some other regression algorithms in certain situations, such as when the data is highly nonlinear or has a complex underlying structure. It is also prone to overfitting if the model is not properly regularized.

In [5]:
data = pd.read_csv("../Data/Advertising.csv")
df = data.copy()

In [6]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [7]:
del df['Unnamed: 0']

In [8]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [10]:
df.describe().T

           count      mean        std  min     25%     50%      75%    max
TV         200.0  147.0425  85.854236  0.7  74.375  149.75  218.825  296.4
radio      200.0   23.2640  14.846809  0.0   9.975   22.90   36.525   49.6
newspaper  200.0   30.5540  21.778621  0.3  12.750   25.75   45.100  114.0
sales      200.0   14.0225   5.217457  1.6  10.375   12.90   17.400   27.0

In [11]:
df.corr()

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.782224
radio      0.054809  1.000000   0.354104  0.576223
newspaper  0.056648  0.354104   1.000000  0.228299
sales      0.782224  0.576223   0.228299  1.000000

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
X = df[["TV"]]
y = df["sales"]

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
from sklearn.linear_model import PassiveAggressiveRegressor

model = PassiveAggressiveRegressor()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [17]:
from sklearn.metrics import mean_squared_error

np.sqrt(mean_squared_error(y_test,y_pred))

6.657490710463416