In [1]:
import pandas as pd
import numpy as np

from warnings import filterwarnings
filterwarnings('ignore')

Multiple linear regression is a statistical technique used to estimate how a variable changes relative to more than one independent variable. For example, a firm tries to understand how its sales are affected by factors such as marketing expenditures, product prices, and the television channel in which the product is advertised.

This technique offers more features than the linear regression model, which only examines the effect of one independent variable. Multiple linear regression model examines the effect of more than one independent variable at the same time and explains the relationship between these variables.

In this technique, predictions are made with the help of linear equations formed as a result of multiple linear regression analysis on the data set. This equation is used to measure the accuracy of the multiple linear regression model and is evaluated with statistics such as R squared.

Multiple linear regression can be used in many fields. For example, the level of influence of investment decisions in financial markets can be estimated, it can be used to examine the symptoms of diseases in the health field, and even the factors that affect tourists in the tourism sector can be estimated.

In conclusion, multiple linear regression is a statistical technique that simultaneously examines the effects of more than one independent variable and explains the relationship between these variables. This technique can be useful in many areas and its accuracy can be measured with the help of the linear equation used to make predictions.

In [2]:
data = pd.read_csv("../Data/Advertising.csv")
df = data.copy()

In [3]:
df.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
del df['Unnamed: 0']

In [5]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   radio      200 non-null    float64
 2   newspaper  200 non-null    float64
 3   sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [7]:
df.describe().T

           count      mean        std  min     25%     50%      75%    max
TV         200.0  147.0425  85.854236  0.7  74.375  149.75  218.825  296.4
radio      200.0   23.2640  14.846809  0.0   9.975   22.90   36.525   49.6
newspaper  200.0   30.5540  21.778621  0.3  12.750   25.75   45.100  114.0
sales      200.0   14.0225   5.217457  1.6  10.375   12.90   17.400   27.0

In [8]:
df.corr()

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.782224
radio      0.054809  1.000000   0.354104  0.576223
newspaper  0.056648  0.354104   1.000000  0.228299
sales      0.782224  0.576223   0.228299  1.000000

In [9]:
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict

In [10]:
X = df.drop("sales",axis=1)
y = df["sales"]

In [11]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state= 37)

In [12]:
from sklearn.linear_model import LinearRegression

lm = LinearRegression()
model = lm.fit(X_train, y_train)

In [14]:
model.intercept_#beta0

3.000667911439791

In [15]:
model.coef_

array([ 0.04622288,  0.18912998, -0.00350759])

In [16]:
model.score(X_train,y_train)

0.8997277119781726

In [17]:
cross_val_score(model, X_train, y_train, cv = 10, scoring = "r2").mean()

0.8823893983454127

In [18]:
np.sqrt(-cross_val_score(model,
                X_train,
                y_train,
                cv = 10,
                scoring = "neg_mean_squared_error")).mean()

1.6743316298760038

In [19]:
np.sqrt(-cross_val_score(model,
                X_test,
                y_test,
                cv = 10,
                scoring = "neg_mean_squared_error")).mean()

1.7515056896484555